h2{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 30px;
  }
  body{
    background-color: lightyellow;
  }
  header{
    text-align: center;
    padding:20px 0px 0px 0px;
    background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
    background-size: cover;
  }
  ul {
    font-size: 20px;
    padding: 10px;
  }
  li {
    padding: 0px 10px 0px 10px;
    display: inline;
    font-size: 20px;
  }
  h1{
    font-size: 50px;
  }
  #header-pic {
    margin: 40px 0px 0px 0px;
    border-color: black;
    border-style: solid;
    border-width: 5px;

  }
